@media screen and (max-width: 600px) {
  body {
    color: blue;
  }
}

.link {
  body {
    font-size: 85%;
  }
}
html {
  background-color: whitesmoke;
  text-align: center;
}
a:visited {
  color: black;
}
a {
  text-decoration: none;
}
.search {
  input[type="text"] {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 35px;
  }

  input[type="submit"] {
    height: 40px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 15px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
  /*https://jp-seemore.com/web/2473/#toc3丸ごと引っ張ってきた*/
}
.article-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.article img {
  height: 80px;
}
.dictionary-container {
  margin-top: 180px;
}
.word-page p {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  font-size: 20px;
  line-height: 50px;
}
.word-page-header {
  position: sticky;
  top: 0px;
  background-color: white;
}
