<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css"
    />
    <link rel="stylesheet" href="/global.css" />
    <title>animal dictionary</title>
  </head>
  <body>
    <u><h1>動物病気百科</h1></u>
    <div class="search">
      <form action="/search" method="get">
        <div class="autoComplete_wrapper">
          <input
            id="autoComplete"
            type="search"
            dir="ltr"
            spellcheck="false"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
          />
        </div>
      </form>
    </div>
    <div class="article-container">
      <div class="article">
        <a href="https://jspca.or.jp/">
          <div>
            <img src="/img-data/動物愛護団体ロゴ.png" alt="" />
          </div>
          動物愛護団体
        </a>
      </div>
      <div class="article">
        <a href="https://www.walkerplus.com/event_list/eg0124/">
          <div>
            <img src="/img-data/ウォーカープラスロゴ.svg" alt="" />
          </div>
          動物関連イベント
        </a>
      </div>
      <div class="article">
        <a href="https://www.fpc-pet.co.jp/dog/disease">
          <div>
            <img src="/img-data/ペットロゴ.svg" alt="" />
          </div>
          犬
        </a>
      </div>
      <div class="article">
        <a href="https://www.fpc-pet.co.jp/cat/disease">
          <div>
            <img src="/img-data/ペットロゴ.svg" alt="" />
          </div>
          猫
        </a>
      </div>
    </div>
    <div class="dictionary-container">
      <hr />
      <ul>
        <li>
          <a href="/words/卵詰まり">卵詰まり</a>
        </li>
        <li>
          <a href="/words/熱中症">熱中症</a>
        </li>
        <li>
          <a href="/words/鼻炎">鼻炎</a>
        </li>
        <li>
          <a href="/words/メガバクテリア症">メガバクテリア症</a>
        </li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <body>
      <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.js"></script>
      <script>
        const config = {
          placeHolder: "Search for Food...",
          data: {
            src: [
              "Sauce - Thousand Island",
              "Wild Boar - Tenderloin",
              "Goat - Whole Cut",
            ],
            cache: false,
          },
          resultItem: {
            highlight: true,
          },
          events: {
            input: {
              selection: (event) => {
                const selection = event.detail.selection.value;
                autoCompleteJS.input.value = selection;
              },
            },
          },
        };

        const autoCompleteJS = new autoComplete(config);
      </script>
    </body>
  </body>
</html>
