<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=980px" />
    <div class="width">
      <meta name="viewport" content="width=device-width" />
    </div>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css"
    />
    <link class="link" rel="stylesheet" href="/global.css" />
    <title>animal dictionary</title>
  </head>
  <body>
    <u><h1>動物病気百科</h1></u>
    <div class="search">
      <form id="search-form">
        <div class="autoComplete_wrapper">
          <input
            id="autoComplete"
            type="search"
            dir="ltr"
            spellcheck="false"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
          />
        </div>
      </form>
    </div>
    <div class="article-container">
      <div class="article">
        <a href="https://jspca.or.jp/">
          <div>
            <img src="/img-data/jspca-logo.png" alt="" />
          </div>
          動物愛護団体
        </a>
      </div>
      <div class="article">
        <a href="https://www.walkerplus.com/event_list/eg0124/">
          <div>
            <img src="/img-data/walker-plus-logo.svg" alt="" />
          </div>
          動物関連イベント
        </a>
      </div>
      <div class="article">
        <a href="https://www.fpc-pet.co.jp/dog/disease">
          <div>
            <img src="/img-data/pet-logo.svg" alt="" />
          </div>
          犬
        </a>
      </div>
      <div class="article">
        <a href="https://www.fpc-pet.co.jp/cat/disease">
          <div>
            <img src="/img-data/ペットロゴ.svg" alt="" />
          </div>
          猫
        </a>
      </div>
    </div>
    <div class="dictionary-container">
      <hr />
      <ul>
        <li>
          <a href="/words/卵詰まり">卵詰まり</a>
        </li>
        <li>
          <a href="/words/熱中症">熱中症</a>
        </li>
        <li>
          <a href="/words/鼻炎">鼻炎</a>
        </li>
        <li>
          <a href="/words/メガバクテリア症">メガバクテリア症</a>
        </li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <body>
      <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.js"></script>
      <script>
        const config = {
          placeHolder: "病気を検索",
          data: {
            src: async (query) => {
              try {
                // Fetch Data from external Source
                const source = await fetch(`/api/search?word=${query}`);
                // Data should be an array of `Objects` or `Strings`
                const data = await source.json();

                return data.map((item) => item.word);
              } catch (error) {
                return error;
              }
            },
            //　cache: true,
          },
          resultItem: {
            highlight: true,
          },
          events: {
            input: {
              selection: (event) => {
                const selection = event.detail.selection.value;
                autoCompleteJS.input.value = selection;
                location.href = `/words/${event.detail.selection.value}`;
              },
            },
          },
          submit: true,
        };

        const autoCompleteJS = new autoComplete(config);

        document
          .getElementById("search-form")
          .addEventListener("submit", (e) => {
            e.preventDefault();

            const input = document.querySelector("#search-form input");
            location.href = `/words/${input.value}`;
          });
      </script>
    </body>
  </body>
</html>
